.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-right: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  padding: 50px;
  color: white;
  text-align: left;
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
}
.App-main-text {
  color: white;
  margin-right: 5px;
  font-size: 1.5em; /* Adjust the font size as needed */
}
.App-link {
  color: green;
  text-decoration: none; /* Remove underline */
  cursor: pointer;
  font-size: x-large;
}
.App-link:hover {
  color: red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}