/* Header.css */

.App-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000; /* Set your preferred dark background color */
  color: #fff; /* Set your preferred text color */
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo_h-container {
  flex-shrink: 0;
}

.logo_h {
  width: 140px; /* Increased logo size */
  border-radius: 10%; /* Make the logo circular if needed */
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the start (left) */
  margin-left: 20px; /* Adjust margin as needed */
}

.app-title {
  font-size: 24px; /* Set your preferred font size */
  margin: 0; /* Remove default margin */
}

.app-description {
  color: white;
  font-size: 14px; /* Set your preferred font size */
  margin: 5px 0 0; /* Adjust margin to start from the same position */
}

.links-container {
  display: flex;
}

.header-link {
  color: #fff; /* Set your preferred link color */
  text-decoration: none;
  margin-right: 20px; /* Adjust margin as needed */
  font-weight: bold; /* Optionally set font weight */
  transition: color 0.3s; /* Add smooth transition on color change */
}

.header-link:hover {
  color: #89c4f4; /* Light blue color on hover */
}
