/* ProjectCardStyle.css */

.project-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.2s ease;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items horizontally */
    padding: 20px; /* Add padding on all sides */
    position: relative; /* Relative positioning for absolute social links */
}

.images-section {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Add margin to create space between images and social links */
}

.project-image {
    width: 120px; /* Adjust image width */
    max-height: 150px;
    border-radius: 8px; /* Add border-radius */
}

.social-links {
    position: absolute;
    bottom: 8px;
    right: 20px; /* Adjust the distance from the right */
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-right: 2px; /* Add space between social icons */
}

.description-section {
    flex: 2;
    padding: 16px;
}

.description-section h3 {
    color: #2e3c4e;
    margin-bottom: 10px;
}

.description-section p {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .images-section {
      order: 1; /* Move images-section to the top in mobile view */
      margin-bottom: 10px; /* Add some spacing between sections */
    }
  
    .social-links {
      order: 3; /* Move social-links to the bottom in mobile view */
      margin-top: 10px; /* Add some spacing between sections */
    }
  
    .description-section {
      order: 2; /* Move description-section to the middle in mobile view */
    }
}