/* Add this to your Styles.css */
.card-container {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  margin: 50px 0; /* Adjust the top and bottom margin as needed */
}

.card {
  background-color: aliceblue;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Adjust the margin between cards as needed */
}

.card:last-child {
  margin-right: 0; /* Remove the right margin for the last card */
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  margin: 5px 0;
}
/* In your Styles.css or App.css */
.logo {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  margin-bottom: 10px; /* Add margin as needed */
}